Data/
RawData/
Logs/
Figs/
*.dta
*.csv
*.pdf
*.jpg
*.jpeg
*.png
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.bak
.Rhistory
*.docx
*.ipynb
__pycache__/
.ipynb_checkpoints/